<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1093924845621-tqfqlucpd3c628an8835lucgdqiifa65.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1093924845621-tqfqlucpd3c628an8835lucgdqiifa65</string>
	<key>API_KEY</key>
	<string>AIzaSyDSDr4BWGS_K717aLyNyc5fXHxI1Z6luyc</string>
	<key>GCM_SENDER_ID</key>
	<string>1093924845621</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rebvar.EmergencyApp</string>
	<key>PROJECT_ID</key>
	<string>sarrul</string>
	<key>STORAGE_BUCKET</key>
	<string>sarrul.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1093924845621:ios:b0a849b2095e93ac26997c</string>
</dict>
</plist>